@model IEnumerable<ThreeDPrinters>

@{
    ViewData["Title"] = "Printer List";
}

<h1 class="display-3 text-center">PrinterList</h1>

<table class="table">
    <thead>
        <tr class="table-warning">
            <th class="col">
                @Html.DisplayNameFor(model => model.SKU)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.BuildVolume)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.PrinterImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
@foreach (var item in Model) {
        <tr>
            <td class="table-info">
                @Html.DisplayFor(modelItem => item.SKU)
            </td>
            <td class="table-secondary">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="table-info">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td class="table-secondary">
                @Html.DisplayFor(modelItem => item.BuildVolume)
            </td>
            <td class="table-info">
                @Html.DisplayFor(modelItem => item.PrinterImage)
            </td>
        </tr>
}
    </tbody>
</table>
